<link rel="stylesheet" href="/stylesheets/detail.css">
<main class="container"
  data-user-id="<%= session[:user_id] %>"
  data-movie-id="<%= @movie_id %>">
  <div class="row">
    <div class="col-lg-2 col-ls-0">
    </div>
    <section class="col-lg-4 col-ls-12">
      <% if @isPoster %>
        <img src="<%= @imgSrc %>" alt="poster" class="poster">
      <% else %>
        <div class="img-placeholder">
          <span>Poster not available</span>
        </div>
      <% end %>
      <div class="tags">
        <% @movie_tags.each do |tag| %>
        <button type="button" name="button" class="btn btn-outline-primary"><%= tag.content %></button>
        <% end %>
      </div>
    </section>
    <section class="col-lg-4 col-ls-12 info-table">
      <table>
        <% @info.each do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
        <tr>
          <td>Actors</td>
          <td>
            <% @actors.each do |actor| %>
              <li><%= actor %></li>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Rotten Tomatoes</td>
          <td><%= @tomato %></td>
        </tr>
      </table>

      <div class="icon-links">
        <a href="#" id="share-btn">
          <i class="fa fa-share-square-o" aria-hidden="true"></i>
        </a>
        <a href="#" id="like-btn">
          <% if is_liked?(@movie_id) %>
              <i class="fa fa-heart" aria-hidden="true"></i>
            <% else %>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
          <% end %>
        </a>
        <a href="#" id="save-btn">
          <% if is_saved?(@movie_id) %>
              <i class="fa fa-bookmark" aria-hidden="true"></i>
            <% else %>
              <i class="fa fa-bookmark-o" aria-hidden="true"></i>
          <% end %>
        </a>
      </div>
    </section>
    <div class="col-lg-2 col-ls-0">
    </div>
  </div>
</main>

<div class="popup-wrap">
  <div class="popup-box">
    <h3>Please login first</h3>
    <a href="/login">
      <button class="btn btn-outline-primary" type="button" name="button" >Log in</button>
    </a>
    <div>Don't have an account?</div>
    <a href="/signup">Click me to Sign up!</a>
    <a class="close-btn popup-close" href="#">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </a>
  </div>
</div>

<script src="/javascripts/detail.js" charset="utf-8"></script>
